@model List<Region>


<section class="Map">
    <div class="container">
        <div class="row">
            <div class="m-0 mt-lg-3 p-0 col-12 align-items-center">
                <div class="m-auto" id="map">
                </div>
            </div>
        </div>
    </div>
</section>

<script>
                @{
                    var nfi = new NumberFormatInfo();
                    nfi.NumberDecimalSeparator = ".";
                }
                function initMap() {

                    var markers = [];
                    var infowindows = [];
                    var prev_infowindow = false;

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: @Model[0].PostionLat.ToString(nfi), lng: @Model[0].PostionLng.ToString(nfi)},
                        zoom: 8,
                        mapTypeId: 'terrain'
                    });

                    @{
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <text>
                            infowindows[@i] = new google.maps.InfoWindow({
                                content: '<a class="Marker" href="/../Climbing/Region/@Model[i].Id">@Model[i].Name</a>'
                            });

                            markers[@i] = new google.maps.Marker({
                                    position: {
                                    lat: @Model[i].PostionLat.ToString(nfi),
                                    lng: @Model[i].PostionLng.ToString(nfi) },
                                    map: map,
                                    icon: '/../img/marker.png'
                            });

                            markers[@i].addListener('click', function () {
                              if (prev_infowindow) {
                                  prev_infowindow.close();
                                  console.log(prev_infowindow);
                              }

                            infowindows[@i].open(map, markers[@i]);
                            prev_infowindow = infowindows[@i];
                            });
                            </text>
                        }
                    }
                }
</script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGkwhk2uQ_NVGmIcXDlp7gAUZuAQOfmQw&callback=initMap"
                async defer></script>
